/* src/app/components/prompt-card/prompt-card.css */

.prompt-card {
  height: 250px; /* Kartın sabit yüksekliği */
  display: flex; /* İçeriğin dikey hizalanması için */
  flex-direction: column; /* İçeriği sütun olarak düzenle */
  overflow: hidden; /* Taşmayı gizle */
  border-radius: 8px; /* Köşeleri yuvarla */
  box-sizing: border-box; /* Padding ve border yüksekliğe dahil */
}

.prompt-card .mat-card-content {
  padding: 16px; /* İçerik boşluğu */
  display: flex;
  flex-direction: column;
  height: 100%; /* İçeriğin kart yüksekliğini kaplaması için */
}

.prompt-content-display {
  flex-grow: 1; /* Prompt içeriğinin kalan alanı doldurmasını sağla */
  margin-bottom: 1rem; /* Alt boşluk */
  position: relative;
  /* Prompt içeriğinin metin kutusu */
  min-height: 80px; /* Prompt metin kutusu için minimum yükseklik */
  max-height: 120px; /* Prompt metin kutusu için maksimum yükseklik */
  overflow: hidden; /* Taşmayı gizle */
  text-overflow: ellipsis; /* Taşmayı üç nokta ile göster */
  display: -webkit-box; /* Webkit tabanlı tarayıcılar için */
  -webkit-line-clamp: 5; /* Maksimum satır sayısı (örn: 5 satır) */
  -webkit-box-orient: vertical; /* Dikey yönlendirme */
  line-height: 1.4em; /* Satır yüksekliği */
  word-wrap: break-word; /* Uzun kelimeleri kırma */
  white-space: normal; /* Normal boşluk yönetimi */
}




.prompt-text-box {
  /* Bu div, metnin kendisi için esneklik sağlar */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5; /* Örneğin 5 satır */
  -webkit-box-orient: vertical;
}


.card-hover:hover {
  transform: translateY(-5px); /* Hafif yukarı kaldırma efekti */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Daha belirgin gölge */
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out; /* Yumuşak geçiş */
}

.cursor-pointer {
  cursor: pointer;
}

.card-footer-info {
  border-top: 1px solid #eee; /* Ayırıcı çizgi */
  padding-top: 10px; /* İçerik ile footer arasında boşluk */
  margin-top: auto; /* Footer'ı en alta it */
  width: 100%;
}
