<div class="main-content-container">
  <mat-card class="page-card">
    <mat-card-header>
      <mat-card-title class="page-title">Favori Promptlarım</mat-card-title>
    </mat-card-header>



    <mat-card-content>
      <div *ngIf="isLoading" class="loading-spinner-container">
        <mat-spinner diameter="50"></mat-spinner>
      </div>

      <div *ngIf="!isLoading && favoritePrompts.length === 0" class="no-prompts-message">
        <div *ngIf="searchControl.value">
          Aradığınız favori prompt bulunamamıştır.
        </div>
        <div *ngIf="!searchControl.value">
          Henüz favori promptunuz bulunmamaktadır.
        </div>
      </div>

      <div class="prompts-grid-container" *ngIf="!isLoading && favoritePrompts.length > 0">
        <app-prompt-card
          *ngFor="let prompt of favoritePrompts"
          [prompt]="prompt"
          [isFavoritePage]="true"
          (cardClicked)="goToPromptDetail($event)"
        ></app-prompt-card>
      </div>

      <mat-paginator
        *ngIf="totalPrompts > pageSize"
        [length]="totalPrompts"
        [pageSize]="pageSize"
        [pageIndex]="pageIndex"
        (page)="onPageChange($event)">
      </mat-paginator>
    </mat-card-content>
  </mat-card>
</div>
