<div class="main-content-container">
  <mat-card class="page-card">
    <mat-card-header>
      <mat-card-title class="page-title">En Çok Beğenilen Promptlar</mat-card-title>
    </mat-card-header>

    <!-- Arama kutusu kaldırıldı -->

    <mat-card-content>
      <div *ngIf="isLoading" class="loading-spinner-container">
        <mat-spinner diameter="50"></mat-spinner>
      </div>

      <div *ngIf="!isLoading && mostLikedPrompts.length === 0" class="no-prompts-message">
        Henüz hiç prompt oluşturulmamış.
      </div>

      <div class="prompts-grid-container" *ngIf="!isLoading && mostLikedPrompts.length > 0">
        <app-prompt-card
          *ngFor="let prompt of mostLikedPrompts"
          [prompt]="prompt"
          [isFavoritePage]="false"
          (cardClicked)="goToPromptDetail(prompt.id)"
        ></app-prompt-card>
      </div>

      <!-- SAYFALAMA BİLEŞENİ EKLENDİ -->
      <mat-paginator
        *ngIf="totalPrompts > pageSize"
        [length]="totalPrompts"
        [pageSize]="pageSize"
        [pageIndex]="pageIndex"
        (page)="onPageChange($event)">
      </mat-paginator>
    </mat-card-content>
  </mat-card>
</div>
