<div class="main-content-container">
  <mat-card class="page-card">
    <mat-card-header>
      <mat-card-title class="page-title">Prompt Ara</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <mat-form-field appearance="outline" class="w-100 search-input">
        <mat-label>Ara</mat-label>
        <input matInput [formControl]="searchControl">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>

      <div *ngIf="isLoading" class="loading-spinner-container">
        <mat-spinner diameter="50"></mat-spinner>
      </div>

      <div *ngIf="!isLoading && prompts.length === 0" class="no-prompts-message">
        <ng-container *ngIf="searchControl.value">
          Aradığınız kriterlere uygun bir prompt bulunamadı.
        </ng-container>
        <ng-container *ngIf="!searchControl.value">
          Aramaya başlamak için yukarıdaki kutuya bir şeyler yazın.
        </ng-container>
      </div>

      <div class="prompts-grid-container" *ngIf="!isLoading && prompts.length > 0">
        <app-prompt-card
          *ngFor="let prompt of prompts"
          [prompt]="prompt"
          [isFavoritePage]="false"
          (cardClicked)="goToPromptDetail(prompt.id)" ></app-prompt-card>
      </div>
    </mat-card-content>
  </mat-card>
</div>
