<div class="main-content-container">
  <mat-card class="page-card">
    <mat-card-header>
      <mat-card-title class="page-title">Kendi Promptlarım</mat-card-title>
    </mat-card-header>

    <div class="d-flex justify-content-between align-items-center flex-wrap mb-4">
      <button mat-raised-button color="primary" routerLink="/prompt-add" class="add-prompt-button">
        <mat-icon>add</mat-icon> Yeni Prompt Ekle
      </button>
    </div>

    <mat-card-content>
      <div *ngIf="isLoading" class="loading-spinner-container">
        <mat-spinner diameter="50"></mat-spinner>
      </div>

      <div *ngIf="!isLoading && myPrompts.length === 0" class="no-prompts-message">
        Henüz hiç prompt oluşturmamışsınız.
      </div>

      <div class="prompts-grid-container" *ngIf="!isLoading && myPrompts.length > 0">
        <app-prompt-card
          *ngFor="let prompt of myPrompts"
          [prompt]="prompt"
          [isFavoritePage]="false"
          (cardClicked)="goToPromptDetail($event)" ></app-prompt-card>
      </div>

      <mat-paginator
        *ngIf="totalPrompts > pageSize"
        [length]="totalPrompts"
        [pageSize]="pageSize"
        [pageIndex]="pageIndex"
        (page)="onPageChange($event)">
      </mat-paginator>
    </mat-card-content>
  </mat-card>
</div>
